<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Register Completed Activity</h1>
  <%= form_with(model: @activity_log, local: true, class: "space-y-4", data: { turbo: false }) do |form| %>
    <% if @activity_log.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Errors:</strong>
        <ul class="list-disc pl-5">
          <% @activity_log.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :activity_type_id, 'Activity Type', class: "block text-sm font-medium text-gray-700" %>
      <%= form.collection_select :activity_type_id, @activity_types, :id, :name, {}, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>
    <div>
      <%= form.label :date, class: "block text-sm font-medium text-gray-700" %>
      <%= form.date_field :date, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>
    <div>
      <%= form.label :duration, class: "block text-sm font-medium text-gray-700" %>
     <div class="flex items-center mt-1">
      <%= form.number_field :duration, min: 1, class: "block w-50 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
      <span class="ml-2 text-sm text-gray-700">minutes</span>
    </div>

    </div>
    <div>
      <%= form.label :notes, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :notes, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <br>
     <div class='flex justify-between'>
        <%= link_to '<- Back', activity_logs_path, class: "bg-slate-400 text-white py-2 px-4 rounded mt-4 inline-block" %>
        <%= form.submit '+ New Activity', class: "bg-gray-700 text-white py-2 px-4 rounded" %>
    </div>
  <% end %>

</div>
